<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>AHNEWStest</title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>

<body class="{% block body_class %}{% endblock %}">
  <nav class="navbar navbar-expand">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand" style="font-size: 24px;">
                <img src="/static/images/download.jpeg" alt="logo" style="width: 40px; height: 40px;">
                <span style="font-size: 24px;">AHNews</span>
            </a>
        </div>

        <div class="collapse navbar-collapse justify-content-end">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <p class="nav-link-1" style="font-size: 24px; margin-right: 10px;">
                        Welcome, 
                        <a href="{{ url_for('user_favorites', user_id=current_user.id) }}" style="font-size: 24px; outline: none; color: blue;">{{ current_user.username }}</a>!
                    </p>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="btn btn-danger" style="font-size: 18px; height: 40px; color: white;">Logout</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="btn btn-primary" style="font-size: 18px; height: 40px; color: white;">Home</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/login" class="btn btn-primary" style="font-size: 18px; height: 40px; color: white;">Sign In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

  

  {% block content %}{% endblock %}
</body>

</html>
