{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12" id="home-aside">
          <aside>
           
          </aside>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12">
          <h1>Top News</h1>
          <ul class="list-group" id="top_articles">
              {% for article in top_articles %}
              <li class="list-group-item">
                  <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                  <p>Published At: {{ article.publishedAt }}</p>
                  
                  <div class="article-actions">
                    {% if article.is_favorited %}
                    <button class="btn btn-danger favorite-button" disabled>Already Favorited</button>
                    {% else %}
                      <button class="btn btn-danger favorite-button" data-article-id="{{ article.url }}" data-article-title="{{ article.title }}" data-article-url="{{ article.url }}">Add to Favorites</button>
                    {% endif %}
                    <form action="{{ url_for('create_article') }}" method="post">
                        <input type="hidden" name="article_title" value="{{ article.title }}">
                        <input type="hidden" name="article_url" value="{{ article.url }}">
                        <button type="submit" class="btn btn-primary">Comments</button>
                    </form>
                </div>
                
              </li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('.favorite-button').on('click', function(e) {
        var button = $(this);
        var articleUrl = button.data('article-url');
        var aticleTitle = butt.data('article-title')

        // AJAX request to check if the article exists and add it to favorites
        $.ajax({
            url: '/check_and_add_to_favorites',
            method: 'POST',
            data: {
                article_url: articleUrl,
                article_title: articeTitle
            },
            success: function(response) {
                if (response.success) {
                   
                    button.text('Favorited').prop('disabled', true);
                } else {
                    console.error('Error adding article to favorites:', response.message);
                }
            },
            error: function(xhr, status, error) {
                console.error('Error adding article to favorites:', error);
            }
        });
    });
});
</script>


{% endblock %}

