{% extends 'base.html' %}

{% block content %}

<body>
    
    <h1>{{user.username}}</h1>
    
    <h2>Favorited Articles</h2>
    <ul>
        {% for article in articles %}
            <li>
                {% if article.title %}
                    <strong>{{ article.title }}</strong>
                {% else %}
                    <em>No title available</em>
                {% endif %}
                <br>
                {% if article.url %}
                    <a href="{{ article.url }}">Read more</a>
                {% else %}
                    <em>No URL available</em>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>

{% endblock %}